<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CProgramming"
        tools:targetApi="31">
        <activity
            android:name=".LoginPage.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".myProfile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.ConstructorActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.PolymorphismActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.InheritanceActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.EncapsulationActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.AbstractionActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.PillarofOOPsActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.ClassandObjectActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.ErrorExceptionActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.LoopsActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.StringActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.ArrayActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.VariableDataTypeActivity"
            android:exported="false" />
        <activity
            android:name=".myDashboardActivity.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>